<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<hr size=3 color='#d10D10'>
<h1>StaticPages#home</h1>
<p>Hey <%=@namer%>, I don't try anything, I just do it.<br>
Want to try me?</p>

Now the time is:
<%=@mytime%><br>
<% for i in (1..10)  %>
  i is
  <%= i %> <br>
<% end %>
<hr size=1>
  Sample App
  
 <!-- git rm public/index.html
 guides.rubyonrails.org
 
 -->
 

